@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

/* Solution */

body {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.header,
.footer {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.footer {
  background-color: #eeeeee;
}

.left-links {
  display: flex;
  gap: 10px;
}

.right-links {
  display: flex;
  gap: 10px;
} 

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

button {
  padding: 10px;
}



/*  not perfect, should have use flex:1 in the content part, 
should have also added margin and padding of 0 in the ul to make sure extra 
space wasnt added in the left side which was technically the biggest problem 
i encountered in this practice */