

.header  {
  font-family: monospace;
  background: papayawhip;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 48px;
  font-weight: 900;
  color: tomato;
  background: white;
  padding: 4px 32px;
}



ul {
  /* this removes the dots on the list items*/
  list-style-type: none;
  display: flex;
  gap: 20px;
  padding: 32px;
}

.left-links {
  justify-self: flex-start;
}
.right-links {
  justify-self: flex-end;
}

a {
  font-size: 22px;
  background: white;
  padding: 8px;
  /* this removes the line under the links */
  text-decoration: none;
}

/* THE SOLUTION IS VERY SIMPLE BUT I DIDNT GET IT RGITH!!!

I Realised that i dont need to make individual flex to the right and left links becos
the space in between the header (since the links are listed items) will give enough space that others are 
just pushed out from the logo*/